<h1> Hello, welcome to the index page ! <h1>

<h2>Following are the users of the App </h2>

<%  @users.each do |u| %>

  <ul>
  <li>Username: <%= u.username %></li>
  <li>Email: <%= u.email %></li>
  <%= link_to "View Profile", {:action => 'show', :id => u.id} %>
  <%= link_to "Visit User's Posts", user_posts_path(u.id) %>
  </ul>
  <br>
  <br>


  <% end %>


<%= link_to "Visit Posts Timeline", '/timeline' %>
