<h1> Hello, welcome to the index page ! <h1>

<h2>Posts Feed Timeline </h2>

<%  @posts.each do |p| %>

  <ul>
  <li>Title: <%= p.title %></li>
  <li>Body: <%= p.body %></li>
  <li>Author: <%= User.find(p.user_id).username %></li>
  </ul>

    <p>Comments</p>

    <%= form_for new_user_post_comment_path do |c| %>

      <% if @comment.errors.full_messages.any? %>
      <% @comment.errors.full_messages.each do |error_message| %>
      <%= error_message %> <br /><br />
      <% end %>
      <% end %>


      <%= c.label :message %>
      <%= c.text_field :message %>

      <%= f.submit ('Comment!') %>

    <% end %>

  <% end %>
