<h1> Hello, welcome to the index page ! <h1>

<h2>Posts Feed Timeline </h2>

  <ul>
  <li>Title: <%= @post.title %></li>
  <li>Body: <%= @post.body %></li>
  <li>Author: <%= User.find(@post.user_id).username %></li>
  </ul>

<p>Comments</p>


<%= form_for [@user, @post ,@comment] do |c| %>

<%= c.label :message %>
<%= c.text_field :message %>

<%= c.submit ('Comment') %>

<% end %>
